body {
	margin-top: 15px;
	background-color: #f0f0f0;
}
.bg{
	width:1190px;margin:0 auto;
}
.bg img {
	width: 100%;
	display: block;
	margin-bottom: 15px;
	-moz-box-shadow:0px 0px 10px #000005; -webkit-box-shadow:0px 0px 10px #000005; box-shadow:0px 0px 10px #000005;
}
#btn {width:40px; height:40px; display: none; position:fixed; right:65px; bottom:10px; background:url(images/top_bg.png) no-repeat left top;}
#btn:hover {background:url(images/top_bg.png) no-repeat 0 -39px;}